{% extends "CollectAll/base.html" %}

{% block content %}
<HEAD>
    <a  name="top"></a>

<h1>Collection: {{ collection.name }}</h1>
</HEAD>

    {% if collection.private == False or collection.private == True and collection.siteUser == user %}

        <div>
            {% if collection.collection_image %}
                <img src="{{ collection.collection_image.url }}" alt="">
            {% endif %}
        </div>

<p><strong>Owner:  </strong> <a>{{ collection.siteUser.username }}</a></p>
<p><strong>Collection Type:  </strong> {{ collection.collectionType.name }}</p>
<p><strong>Notes: </strong>{{ collection.notes }}</p>
<div style="margin-left:20px;margin-top:20px">
<h4>Items in Collection</h4>
{% for subCollection in collection.collection_set.all %}
    <hr>
    <h5>{{ subCollection.name }}</h5>
{% endfor %}
{% for collectionItem in collection.collectionitem_set.all %}
<hr>
<h5>{{ collectionItem.name }}</h5>
    <p><strong>Quantity:  </strong>{{ collectionItem.quantity }}</p>
    <p><strong>Value:  </strong>{{ collectionItem.value }}</p>
    <p><strong>Collected:  </strong>{{ collectionItem.collectedDate }}</p>
    <p><string>Notes:  </string>{{ collectionItem.notes }}</p>
    <div>
    {% if collectionItem.collectionItem_image %}
        <img src="{{ collectionItem.collectionItem_image.url }}">
    {% endif %}
    <br>
            <a href="{% url 'collectionItem_update' pk=collectionItem.pk %}" >Edit Collection Item</a>
{#    <br>#}
{#            <a href="{% url 'add_collection_item' pk=collection.pk %}" >Add Item</a>#}
    <br>
        {% if collectionItem.collection_set.all or collectionItem.collectionitem_set.all %}
            Cannot Delete
        {% else %}
            <a href="{% url 'collectionItem_delete' pk=collectionItem.pk %}"
                onclick="return confirm('Are you sure you want to delete?')"
            >Delete</a>
        {% endif %}
    <br>

    </div>

{% endfor %}



        <div>
            <div>
                <br>
                <br>

    <h4>Comments</h4>
    {% for comment in comments %}
        <div class="comment">
            <p> Comment by {{ comment.siteUser.username }} @ {{ comment.timestamp }} : </p>  <!-- Display the name of the commenter -->
            <p>{{ comment.comments }}</p>
        {% if request.user == comment.siteUser %}
                <a href="{% url 'edit_comment' comment.pk %}" >Edit</a>
            <br>
                <a href="{% url 'delete_comment' comment.pk %}" >Delete</a>
            <br>

            {% endif %}
        </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}
</div>
<br>
        <div>
            <a href="{% url 'add_comment' collection.pk %}" >Add Comment</a>
        </div>
    {% else %}
        You are not authorized to view this collection.
    {% endif %}

<p></p>
    <br>
            <a href='#top'>Back to Top</a>
    <br>
            <a href="{% url 'collection_list' %}">Back to Collection List</a>
{% endblock %}